<form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
  <div class="form-group">
    <label for="user">User:</label>
    <input type="text" class="form-control" name="user" />
  </div>
  <div class="form-group">
    <label for="profile_pic">Profile pic:</label>
    <input type="file" class="form-control" name="profile_pic" />
  </div>
  <button type="submit" class="btn btn-primary mt-3">Upload</button>
</form>
