<h1 class="text-center">Welcome back <%= user %></h1>
<div class="row justify-content-center">
  <div class="col-md-4">
    <img class="img-fluid" src="<%= path %> " alt="<%= user %> " />
  </div>
</div>
